---
layout: default
title: Album
---
<h1>{{ page.title }}</h1>

<div class="gallery" id="gallery">
    {% assign thumb_path = '/albums/' | append: page.folder | append: '/thumb/' %}
    {% assign web_path   = '/albums/' | append: page.folder | append: '/web/' %}
    {% assign jpg_path   = '/albums/' | append: page.folder | append: '/jpg/' %}
    {% assign images_meta = site.data[page.folder] %}

    {% for image in images_meta %}

    {% assign thumb = thumb_path | append: image.filename %}
    {% assign web   = web_path   | append: image.filename %}
    {% assign jpg   = jpg_path   | append: image.filename %}
    <div class="image-card">
        <a href="{{ web }}" data-pswp-width="{{ image.width  }}" data-pswp-height="{{ image.height }}">
            <img src="{{ thumb }}" loading="lazy">
        </a>
        <p><a class="download-btn" href="{{ jpg }}" download>Download</a></p>
    </div>

    {% endfor %}

</div>